<div class="container" id="player-search-container">
  <div class="row">
    <div class="col-xs-12">
      <form #clubSearch="ngForm" ng-submit="playerSearch()" id="playerSearchForm">
        <div id="player-data">
          <div class="form-group">
            <label for="playerName">Player Name</label>
            <input id="playerName" class="form-control" [(ngModel)]="playerName" name="playerName">

            <label for="position">Position</label>
            <select id="position" class="form-control" [(ngModel)]="position" name="position">
              <option value="red">MF</option>
              <option value="gold">DF</option>
              <option value="gold">ST</option>
              <option value="gold">GK</option>
            </select>
            <label for="goalsScored">Goals Scored</label>
            <div id="goalsScoredSlidebar">
                <input type="range" min="1" max="100" value="50" class="slider" id="goalsRange">
              </div>
            <select id="goalsScored" class="form-control" [(ngModel)]="goalsScored" name="goalsScored">
              <option value="25">Less han 25</option>
              <option value="75">25 - 75</option>
              <option value="75">75 or more</option>
            </select>
            <label for="yellowCards">Yellow Cards</label>
            <div id="yellowCardSlidebar">
              <input type="range" min="1" max="100" value="50" class="slider" id="yellowCardRange">
            </div>
            <select id="yellowCards" class="form-control" [(ngModel)]="yellowCards" name="yellowCards">
              <option value="25">Less han 25</option>
              <option value="75">25 - 75</option>
              <option value="75">75 or more</option>
            </select>
            <label for="redCards">Red Cards</label>
            <div id="redCardSlidebar">
                <input type="range" min="1" max="100" value="50" class="slider" id="redCardRange">
              </div>
            <select id="redCards" class="form-control" [(ngModel)]="redCards" name="redCards">
              <option value="25">Less han 25</option>
              <option value="75">25 - 75</option>
              <option value="75">75 or more</option>
            </select>
          </div>
        </div>
        <div>
          <button class="btn btn-lg btn-success" id="player-search-submit-button" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>