#playerSearchForm {
    background-color: rgba(26, 26, 26, 0.911);
}

#player-data {
    margin: 20px;
}

#player-search-container {
    margin-top: 10em;
}

#player-search-submit-button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#goalsScoredSlidebar{
    margin-bottom: 10px;
}

#yellowCardSlidebar{
    margin-bottom: 10px;
}

#redCardSlidebar{
    margin-bottom: 10px;
}

label {
    color: white;
    margin: 10px;
}