<div class="container" id="player-search-container">
  <div class="row">
    <div class="col-sm-8" style="text-align: center; margin-left: 13em;">
      <h1 id="player-search-header">Player Search</h1>
      <p>Select an option from one or more categories to find players you might be interested in.</p>
      <div *ngIf="clubFound" id="clubDetails">
        <h3>Club Details</h3>
        <div>
          <img src="{{individualClub.logo}}">
        </div>
        <table class="table" id="club-table">
          <tbody>
            <tr>
              <td class="td-label">Club Name:</td>
              <td class="label-value">{{individualClub.clubName}}</td>
            </tr>
            <tr>
              <td class="td-label">Club Colors:</td>
              <td class="label-value">{{individualClub.colors}}</td>
            </tr>
            <tr>
              <td class="td-label">League:</td>
              <td class="label-value">{{individualClub.leagueName}}</td>
            </tr>
            <tr>
              <td class="td-label">World Ranking:</td>
              <td class="label-value">{{individualClub.worldRanking}}</td>
            </tr>
          </tbody>
        </table>
        <a target="_blank" href="http://{{individualClub.website}}">Team Website</a>
        <div>
          <button class="btn btn-success" (click)="toggleForm()">Back To Club Search Form</button>
        </div>
      </div>
      <form *ngIf="!formToggle" #playerSearchForm="ngForm" (ngSubmit)="playerSearchSubmit()" id="playerSearchForm">
        <div id="player-data">
          <div class="form-group">
            <input ngModel type='hidden' value='byplayer' name='type'>
            <div class="row">
              <h3>Goal Scoring</h3>
            </div>
            <div class="row">
              <label for="overallTopScorers">Overall Top Scorers</label>
              <input ngModel type='radio' value='1' name='goals' id="overallTopScorers">
            </div>
            <div class="row">
              <label for="topGoalsPG">Overall Top Goals Per Game</label>
              <input ngModel type='radio' value='2' name='goals' id="topGoalsPG">
            </div>
            <div class="row">
              <label for="noGoalsPref">No Preference</label>
              <input ngModel type='radio' value='0' name='goals' id="noGoalsPref">
            </div>
            <div class="row">
              <h3>Discipline/Foul Play</h3>
            </div>
            <div class="row">
              <label for="topDisc">Overall Top Discipline</label>
              <input ngModel type='radio' value='1' name='disc' id="topDisc">
            </div>
            <div class="row">
              <label for="topDiscPerGame">Overall Top Discipline Per Game</label>
              <input ngModel type='radio' value='2' name='disc' id="topDiscPerGame">
            </div>
            <div class="row">
              <label for="leastDisc">Overall Least Discipline</label>
              <input ngModel type='radio' value='3' name='disc' id="leastDisc">
            </div>
            <div class="row">
              <label for="leastDiscPerGame">Overall Least Discipline Per Game</label>
              <input ngModel type='radio' value='4' name='disc' id="leastDiscPerGame">
            </div>
            <div class="row">
              <label for="noDiscPref">No Preference</label>
              <input ngModel type='radio' value='0' name='disc' id="noDiscPref">
            </div>
            <div class="row">
              <h3>Experience</h3>
            </div>
            <div class="row">
              <label for="mostExp">Most Experienced</label>
              <input ngModel type='radio' value='1' name='xp' id="mostExp">
            </div>
            <div class="row">
              <label for="leastExp">Least Experienced</label>
              <input ngModel type='radio' value='2' name='xp' id="leastExp">
            </div>
            <div class="row">
              <label for="noExpPref">No Preference</label>
              <input ngModel type='radio' value='0' name='xp' id="noExpPref">
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-lg btn-success" id="player-search-submit-button" type="submit">Search</button>
        </div>
        <div>
          <button class="btn btn-sm btn-warning" type="reset" (click)="resetTable()" [disabled]="playerSearchForm.pristine">Reset Form</button>
        </div>
      </form>
      <div *ngIf="clubs" id="player-table-div">
        <button class="btn btn-success" *ngIf="formToggle" (click)="toggleForm()">Show Form</button>
        <table class="table" id="player-table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Club</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let club of clubs" (click)="getClub(club.club)">
              <td>{{club.player}}</td>
              <td>{{club.club}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>