#playerSearchForm {
    background-color: rgba(26, 26, 26, 0.911);
}

#player-data {
    margin: 20px;
}

#player-search-container {
    margin-top: 4em;
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: white;
}

label {
    color: white;
    margin: 10px;
}