#achievementSearchForm {
    background-color: rgba(26, 26, 26, 0.911);
}

#achievement-data {
    margin: 20px;
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

#achievement-search-header {
    background-color: rgba(26, 26, 26, 0.911);
    margin: 0;
}

label {
    color: white;
    margin: 10px;
}

#achievement-table {
    background-color: rgba(26, 26, 26, 0.911);
    color: white;
    border-color: white;
    margin-top: 3em;
}

th {
    text-align: center;
}

#achievements-table-div{
    outline-color: gray;
    outline-style: solid;
    background-color: rgba(26, 26, 26, 0.911);
}

#clubDetails {
    background-color: rgba(26, 26, 26, 0.911)
}

th {
    text-align: center;
}

#table-div{
    outline-color: gray;
    outline-style: solid;
    background-color: rgba(26, 26, 26, 0.911);
}

#club-table {
    background-color: rgba(26, 26, 26, 0.911);
    color: white;
    border-color: white;
    margin-top: 3em;
}

#clickable {
    cursor: pointer;
}

.td-label {
    text-align: right;
    padding-left: 6em;
}

.label-value {
    text-align: left;
}