#clubSearchForm {
    background-color: rgba(26, 26, 26, 0.911);
}

#club-data {
    margin: 20px;
}

#club-search-container {
    margin-top: 4em;
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: white;
}

label {
    color: white;
    margin: 10px;
}

#club-table {
    background-color: rgba(26, 26, 26, 0.911);
    color: white;
    border-color: white;
    margin-top: 3em;
}

th {
    text-align: center;
}

#table-div{
    outline-color: gray;
    outline-style: solid;
    background-color: rgba(26, 26, 26, 0.911);
}

