<div class="container-fluid" id="club-search-container">
  <div class="col-xs-12">
    <form #clubSearch="ngForm" ng-submit="clubSearch()" id="clubSearchForm">
      <div id="club-data">
        <div class="form-group">
          <label for="clubName">Club Name</label>
          <select id="clubName" class="form-control" [(ngModel)]="clubNames" name="clubNames">
            <option value="AFC Bournemouth">AFC Bournemouth</option>
            <option value="Manchester United">Manchester United</option>
          </select>
          <label for="colors">Club Colors</label>
          <select id="colors" class="form-control" [(ngModel)]="colors" name="colors">
            <option value="red">Red</option>
            <option value="gold">Gold</option>
          </select>
          <label for="leagueName">League</label>
          <select id="leagueName" class="form-control" [(ngModel)]="leagueName" name="leagueName">
            <option value="English Premiere League">English Premiere League</option>
            <option value="La Liga Primera Division">La Liga Primera Division</option>
            <option value="Major League Soccer">Major League Soccer</option>
          </select>
          <label for="worldRanking">World Ranking</label>
          <select id="worldRanking" class="form-control" [(ngModel)]="worldRanking" name="worldRanking">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      <div>
        <button class="btn btn-lg btn-success" type="submit" id="club-search-submit">Search</button>
      </div>
    </form>
  </div>
</div>