<div class="container" id="club-search-container">
  <div class="row">
    <div class="col-xs-8" style="text-align:center; margin-left: 13em;">
      <h1 id="club-search-header">Club Search</h1>
      <p>Select an option from one or more categories to find clubs you might be interested in.</p>
      <div *ngIf="clubFound" id="clubDetails">
        <h3>Club Details</h3>
        <table class="table" id="club-table">
          <tbody>
            <tr>
              <td>Club Name:</td>
              <td>{{individualClub.clubName}}</td>
            </tr>
            <tr>
              <td>Club Colors:</td>
              <td>{{individualClub.colors}}</td>
            </tr>
            <tr>
              <td>League:</td>
              <td>{{individualClub.leagueName}}</td>
            </tr>
            <tr>
              <td>World Ranking:</td>
              <td>{{individualClub.worldRanking}}</td>
            </tr>
            <tr>
              <td><a target="_blank" href="http://{{individualClub.website}}">Team Website</a></td>
              <td></td>
            </tr>
            <tr>
              <td><button class="btn btn-success" (click)="toggleForm()">Back To Club Search Form</button></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <form *ngIf="!formToggle" #clubSearchForm="ngForm" (ngSubmit)="clubSearchSubmit()" id="clubSearchForm">
        <div id="club-data">
          <div class="form-group">
            <input ngModel type='hidden' value='byclub' name='type'>
            <div class="row">
              <h3>Goal Scoring</h3>
            </div>
            <div class="row">
              <label for="overallTopScorers">Overall Top Scorers</label>
              <input ngModel type="radio" value="1" name="goals" id="overallTopScorers">
            </div>
            <div class="row">
              <label for="topGoalsPerGame">Overall Top Goals Per Game</label>
              <input ngModel type="radio" value="2" name="goals" id="topGoalsPerGame">
            </div>
            <div class="row">
              <label for="noGoalsPref">No Preference</label>
              <input ngModel type="radio" value="0" name="goals" id="noGoalsPref">
            </div>
            <div class="row">
              <h3>Discipline/Foul Play</h3>
            </div>
            <div class="row">
              <label for="overallTopDisc">Overall Top Discipline</label>
              <input ngModel type='radio' value='1' name='disc' id="overallTopDisc">
            </div>
            <div class="row">
              <label for="topDiscPerGame">Overall Top Discipline Per Game</label>
              <input ngModel type='radio' value='2' name='disc' id="topDiscPerGame">
            </div>
            <div class="row">
              <label for="overallLeastDisc">Overall Least Discipline</label>
              <input ngModel type='radio' value='3' name='disc' id="overallLeastDisc">
            </div>
            <div class="row">
              <label for="leastDiscPerGame">Overall Least Discipline Per Game</label>
              <input ngModel type='radio' value='4' name='disc' id="leastDiscPerGame">
            </div>
            <div class="row">
              <label for="noDiscPref">No Preference</label>
              <input ngModel type='radio' value='0' name='disc' id="noDiscPref">
            </div>
            <div class="row">
              <h3>Experience</h3>
            </div>
            <div class="row">
              <label for="mostExp">Most Experienced</label>
              <input ngModel type='radio' value='1' name='xp' id="mostExp">
            </div>
            <div class="row">
              <label for="leastExp">Least Experienced</label>
              <input ngModel type='radio' value='2' name='xp' id="leastExp">
            </div>
            <div class="row">
              <label for="noExpPref">No Preference</label>
              <input ngModel type='radio' value='0' name='xp' id="noExpPref">
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-lg btn-success" type="submit" id="club-search-submit">Search</button>
        </div>
        <div>
          <button class="btn btn-sm btn-warning" type="reset" (click)="resetTable()" [disabled]="clubSearchForm.pristine">Reset Form</button>
        </div>
      </form>
      <div *ngIf="clubs" id="table-div">
        <button class="btn btn-success" *ngIf="formToggle" (click)="toggleForm()">Show Form</button>
        <table class="table" id="club-table">
          <thead>
            <tr>
              <th>Clubs</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let club of clubs" (click)="getClub(club.club)">
              <td>{{club.club}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>