

#clubSearchForm {
    background-color: rgba(26, 26, 26, 0.911);
}

#club-search-container {
    margin-top: 10em;
    width: 500px;
}

#club-data {
    margin: 20px;
}

#club-search-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

label {
    color: white;
    margin: 10px;
}

select {
    max-width: 400px;
}
