#main-content {
    /* margin-top: 20px; */
}

#sidebar {
    height: 100em;
}

#header-container {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.911);
}
