h2 {
    color: white;
    margin: 0px;
    
}

#side-bar {
    padding: 0px;
}
#sidebar-container {
    padding-right: 30px;
    max-width: 170px;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.911);

}

ul {
    text-align: center;
}