h2 {
    color: white;
    text-align: center;
    margin: 0px;
    
}

#sidebar-container {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.911);

}

ul {
    text-align: center;
}