<div class="container-fluid" id="side-bar" style="height: 100%;">
  <div class="sidebar-header" id="sidebar-container">
    <h2>Menus</h2>
    <div>
      <ul>
        <div class="row">
          <a routerLink="/" routerLinkActive="active">
            Home
          </a>
        </div>
        <div class="row">
          <a routerLink="clubsearch" routerLinkActive="active">
            Clubs
          </a>
        </div>
        <div class="row">
          <a routerLink="playersearch" routerLinkActive="active">
            Players
          </a>
        </div>
        <div class="row">
          <a routerLink="achievementsearch" routerLinkActive="active">
            Achievements
          </a>
        </div>
        <div class="row">
          <a routerLink="miscellaneoussearch" routerLinkActive="active">
            Miscellaneous
          </a>
        </div>
      </ul>
    </div>
  </div>
</div>