/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://static.pexels.com/photos/114296/pexels-photo-114296.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    
}

h3 {
    text-decoration: underline;
    color: white;
}

p {
    background-color: rgba(26,26,26,0.911);
    color: white;
}

tr:hover td {background:rgb(92, 92, 92)}