/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://static.pexels.com/photos/114296/pexels-photo-114296.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
